.Logo {
  text-decoration: none;
  color: var(--black);
  font-weight: 800;
  font-size: 22px;

  &::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--accent);
    display: inline-block;
  }
}
